<main>
  <header class="bg-primary">
    <h1 class="text-white text-center p-3">Cat card app</h1>
  </header>
  <section class="container">
    <h2>Cat card list</h2>
    <hr />
    <div class="card-group">
      <ng-container *ngFor="let card of getInitialCards">
        <div class="flipper mb-3">
          <div class="front card text-center shadow-sm">
            <img class="card-img-top" src="{{card.imageUrl}}" alt="Cat image" width="250" height="200"/>
            <div class="card-body">
              <h5 class="card-title">{{card.title}}</h5>
            </div>
          </div>
          <div class="back card text-center shadow-sm">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">{{card.title}}</h6>
              <p class="card-text">{{card.description}}</p>
            </div>
            <div class="card-footer">
              <a routerLink="catForm" [queryParams]="{cardId: card.id}" class="btn btn-primary card-link">Edit that cat</a>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <a class="btn btn-lg btn-danger circle add" routerLink="catForm" ><i class="fa fa-plus"></i></a>
  </section>
  <footer class="bg-light">
    <div class="container text-center">
      <i class="far fa-copyright mr-1"></i><label><span id="currentYear">2017</span> - Lille 1</label>
      <span class="small font-italic infos">No cat has been hurt during the development of this app.</span>
    </div>
  </footer>
</main>


